@charset "utf-8";
* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a {
	color: #333;
	text-decoration: none;
}
a, img {
	border:0;
	text-decoration: none;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}
.container {
	width:960px;
	margin:24px auto 0 auto;
	position: relative;
}
.nav {
	position: absolute;
	left: 0;
	top: 24px;
	width: 78px;
	margin-left: -78px;
	letter-spacing: 1px;
}
.nav .nav-item {
	padding: 12px;
}
.nav-item a {
	color: #333;
	font-size: 16px;
	border-bottom: 2px solid #aaa;
	text-decoration: none;
}
/*history*/
.history {
	padding-top: 24px;
	overflow:hidden;
	position:relative;
	box-shadow: 0 1px 6px #ccc;
	-webkit-box-shadow: 0 1px 6px #ccc;
}
.history-date {
	overflow:hidden;
	position:relative;
}
.history-date h2 {
	/*height:59px;*/
	font-size:20px;
	font-family: '微软雅黑';
	font-weight:normal;
	padding-left:45px;
	margin-bottom:14px;
	background: #fff;
}
.history-date h2.first {
	position:relative;
	left:0;
	top:0;
	width:935px;
	z-index:99;
	cursor: pointer;
}
.history-date h2 a {
	color:#00bbff;
	display:inline-block;
	background:#fff url(../images/arrow.gif) no-repeat right 50%;
	padding-right:16px;
	padding-left: 56px;
	margin: 20px 24px 0 0;
}
.history-date h2 a:hover {
	text-decoration:none;
}
.history-date h2 img {
	padding-left: 4px;
	vertical-align:-5px;
}
.history-date h2.date-time {
	background:none;
	cursor: pointer;
}
.history-date ul li {
	padding-bottom:14px;
	zoom:1;
}
.history-date ul li.last {
	padding-bottom:0;
}
.history-date ul li:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.history-date ul li h3 {
	float:left;
	width:168px;
	text-align:right;
	padding-right:19px;
	color:#c3c3c3;
	font:normal 18px/16px Arial;
}
.history-date ul li h3 span {
	display:block;
	color:#d0d0d0;
	font-size:12px;
}
.history-date ul li dl {
	float:left;
	padding-left:41px;
	margin-top:-5px;
	font-family:'微软雅黑';
}
.history-date ul li dl dt {
	font-size: 18px;
	color:#737373;
}
.tag-index a {
	color: #fff;
	font-size: 12px;
	display: inline-block;
	border-radius: 2px;
	padding: 0 4px;
	margin-right: 8px;
	background: #99e4ff;
	line-height: 1.4;
}
.history-date h2.first .more-history {
	font-size:16px;
	background:transparent;
	margin-left:30px;
}
.history-date h2.first .more-history:hover {
	text-decoration:underline;
}

/* 文字列表 */
.article {
	padding: 12px 24px;
	box-shadow: 0 1px 6px #ccc;
	-webkit-box-shadow: 0 1px 6px #ccc;
}
.article-header {
	padding: 24px 0;
	font-size: 30px;
	text-align: center;
	border-bottom: 1px dashed #ebebeb;
}
.article-body {
	padding: 24px 0;
}
.tag-body {
	padding: 8px 0;
}
.tag-body .tag-item {
	padding: 4px 24px;
	font-size: 14px;
}
.tag-header {
	font-size: 16px;
	padding: 4px 0;
	border-bottom: 1px dashed #ebebeb;
}

.tag-header span {
	color: #00bbff;
	display: inline-block;
	padding: 0 4px;
	margin-right: 8px;
	line-height: 1.4;
}
.error-404 {
	font-size: 16px;
}

/* 排版 */
p {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 10px;
}
h1 {
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 10px;
}
h2, h3 {
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 10px;
}

pre {
	border-radius: 2px;
	margin: 8px 0;
	padding: 12px 24px;
	background: #F7F7F7;
}

ul li,
{
	padding-top: 4px;
	padding-bottom: 4px;
}