<!doctype html>
<html lang="zh-CN" class="article-page">
{{include './block/header'}}
<body>
    <div class="container">
        <div class="article">
            <div class="article-header">{{article.title}}</div>
            <div class="article-body">
                <span>loading...</span>
            </div>
            <div style="display: none" class="content-temp">{{article.content}}</div>
            <div class="tag-index">
                tags: &nbsp;
                {{each article.tags as tag}}
                <a href="/tags/{{tag}}">{{tag}}</a>
                {{/each}}
            </div>
            {{include './block/duoshuo'}}
        </div>
    </div>
    {{include './block/footer'}}
</body>
</html>